
.container1 , .container2{
    background-color: rgb(63, 63, 63);
    
}
.container1 a:hover , .container2 a:hover {
    background-color: rgb(122, 117, 117);
}
.bouton  a:hover{
    background-color: rgb(122, 117, 117);
}
a:link{
    text-decoration: none;
}

.bggrey{
    background-color: rgb(63, 63, 63);
}
.bgdark{
    background-color: rgb(14, 13, 13);
}



.container2{
    display: block;
    width: 100%;
}

.logo img {
    position: absolute;
    left: 50%;
    top:2px;
    max-height: 50px;
    transform: translate(-50%, 0%);
}

@media screen and (min-width: 992px) {
    .carousel-item{
        height: 95vh ;
        
    }

    #navbarToggleExternalContent {
        display: none;
    }
}

#navbarToggleExternalContent {
    position: fixed;
    z-index: 200;
    width: 100%;
}
